<body class="body">
	<nav>
		<a routerLink='/student' routerLinkActive='Active'>
			<button>click to go to student</button>
		</a>
	</nav>
	<nav>
		<a routerLink='/home' routerLinkActive='Active'>
			<button>click to go to home</button>
		</a>
	</nav>
	<div class="box" title="toolpit">
		<img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQYcv-0ewt7HOXii0rH2Z7Ct6dBzLiL6q7ErolktZQmTVFB77W3"
			class="logo">
		<h1>Login Here</h1>
		<form>
			<p>Username</p>
			<input type="text" name="" value="" placeholder="Enter the Username">
			<p>Password</p>
			<input type="password" name="" value="" placeholder="Enter your password">
			<input type="submit" name="" value="Login">
			<a href="#">Forget Password</a><br>
			<a href="#">Don't have Account</a>
		</form>
	</div>
	<a href="mailto:setudengre82@gmail.com"><p text-color = "red">click here to mail link to student</p></a>
	<img src="assets\Darker.jpg" width="500">
	<a href="assets\Darker.jpg" download="Darker">Darker than black</a>


</body>