<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <mat-toolbar class="example-header">
        <span class="example-fill-remaining-space">
            <img src="\assets\teksystemsblackandwhite.png" width="250px">
        </span>
    </mat-toolbar>

    <router-outlet></router-outlet>

    <mat-toolbar class="example-footer">
        <span class="example-fill-remaining-space">
            © 2019 TEKsystems Global Services, LLC ALL RIGHTS RESERVED. 
        </span>
    </mat-toolbar>
</div>