
<mat-sidenav-container class="example-container">
    <main class="main">
  <h1>
    home works! fsfsdf
  </h1>
  <nav>
    <a routerLink='/student' routerLinkActive='Active'>
      <button>click to go to school</button>
    </a>
  </nav>
  <nav>
    <a routerLink='/login' routerLinkActive='Active'>
      <button>click to go to login</button>
    </a>
  </nav>
  
  <q>
    this is not a single or double quotes that you might thing
  </q>
  <blockquote>
    this is not a single or double quotes that you might thing
  </blockquote>
</main>
</mat-sidenav-container>